<h1>Editing Exercise</h1>

<div class="card mt-4">
  <div class="card-body p-4">
    <%= render "form", exercise: @exercise %>
  </div>

  <div class="card-footer d-flex justify-content-between">
    <%= link_to "Show this exercise", @exercise, class: "btn btn-info" %>
    <%= link_to "Back to exercises", exercises_path, class: "btn btn-secondary" %>
  </div>
</div>
